

#mainNav{

     background-color: black;
}

.py-5 {
     background-color: black;
     

}

input{
     border-style: solid;
     border-radius: 4px;
     border-color: black;
}
form{
    
  
     margin-left: 21%;
     margin-top: 54px;
}


h2{
     text-align: center;
     margin-top:  -48% ;
}

input[type=submit]{
    margin-left:31%;
    background-color: gray;
}

h1{
     margin-top: -5%;
     margin-left: 30%;
   
}    


table{
     border-collapse:separate;
     margin-left: 20%;
     margin-top: 11%;
     border-style: groove;

      
}

#about{

     padding:300px;
}

#lis{

  position: relative;

}

footer{

  background-color: black;

}